nnoremap <C-S-2> :action ToggleBookmark2<CR>
nnoremap <C-S-6> :action ToggleBookmark6<CR>
nnoremap <Bslash><C-d> :action Debug<CR>
nnoremap <C-g> :action SelectNextOccurrence<CR>
nnoremap <C-h> :action BaseOnThisFunction<CR>
nnoremap <C-i> :action ImplementMethods<CR>
nnoremap <Bslash><C-o> :action GuiDesigner.CreateListener<CR>
nnoremap <Bslash><C-q> :action Scala.ShowImplicitConversions<CR>
nnoremap <Bslash><C-r> :action Run<CR>
nnoremap <Bslash><C-t> :action Vcs.Operations.Popup<CR>
